{% extends "layouts.njk" %}

{% block title %}
  <title>Not-Found</title>
{% endblock title %}

{% block content %}
  <main>
    <div class="panel">
      <div class="text-panel">
        <h1>Essa página não existe :/</h1>
        <a href="/">Clique aqui para ir até a página inicial</a>
      </div>
      <img src="/assets/chef.png" alt="Chef" class="chef">
    </div>
  </main>
{% endblock content %}